body {
  width: 50%;
  margin: 0 auto;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* display: none; */
}

#dashboard {
  display: none;
  text-align: center;
}

#create-bug {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bug-list-label,
#create-feature {
  text-align: center;
}

#warning,
#warning2 {
  color: red;
  font-weight: bold;
}
